/*---------------------------------------- Main Component ----------------------------------------*/

.main {
    height: 100vh;
}

/*---------------------------------------- Main Header ----------------------------------------*/

.main-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    border-bottom: solid 2px var(--main-black);
}

.main-header-dark {
    border-bottom: solid 2px var(--main-white);
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    min-width: 11.7rem;
    padding: 1rem 2rem;
    color: var(--main-black);
    background-color: #ffffff00;
    border: solid 2px var(--main-black);
    border-radius: 2rem;
    transition: var(--transition);
}

.main-button:hover {
    color: var(--main-white);
    background-color: var(--main-black);
    cursor: pointer;
}

.main-button-dark {
    color: var(--main-white);
    border: solid 2px var(--main-white);
}

.main-button-dark:hover {
    color: var(--main-black);
    background-color: var(--main-white);
}

/*---------------------------------------- Main Content ----------------------------------------*/

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 120, 255, 0.23);
    width: 75%;
    margin: 0 auto;
    padding: 8rem 0;
    border: solid 2px var(--main-black);
    border-top: none;
    border-radius: 0 0 5rem 5rem;
    box-shadow: var(--shadow);
}

@media (max-width: 1550px) {
    .main-content {
        padding: 4rem 0;
    }
}

.main-content-dark {
    border: solid 2px var(--main-white);
    border-top: none;
}

.main-content h1 {
    font-size: 11rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 1550px) {
    .main-content h1 {
        font-size: 8rem;
    }
}

/*--------- Cover ---------*/

.cover {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 2rem auto;
}

.cover-img {
    width: 27rem;
    height: 27rem;
    background-image: url('../../../img/profilepic.jpg');
    background-size: cover;
    background-position: center;
    margin: auto 0;
    border: solid 2px var(--main-black);
    border-radius: 50%;
    box-shadow: var(--shadow);
}

@media (max-width: 1550px) {
    .cover-img {
        width: 20rem;
        height: 20rem;
    }
}

/*--------- Cover Info ---------*/

.cover-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

@media (max-width: 1550px) {
    .cover-info {
        justify-content: space-between;
    }
}

.cover-info h2 {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1550px) {
    .cover-info h2 {
        font-size: 5rem;
    }
}

.cover-info h3 {
    font-size: 3.7rem;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1550px) {
    .cover-info h3 {
        font-size: 2.7rem;
    }
}

/*--------- Cover Contact ---------*/

.cover-contact {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media (max-width: 1550px) {
    .cover-contact {
        font-size: 4rem;
    }
}

.cover-contact * {
    margin: 0 1.5rem;
}

/*--------- Cover Contact Icons ---------*/

/*LinkedIn*/

.linkedin-icon {
    margin: 0;
    color: var(--main-black);
    transition: var(--transition);
}

.linkedin-icon:hover {
    color: var(--linkedin-color);
}

.linkedin-icon-dark {
    color: var(--main-white);
}

/*GitHub*/

.github-icon {
    margin: 0;
    color: var(--main-black);
    transition: var(--transition);
}

.github-icon:hover {
    color: var(--github-color);
}

.github-icon-dark {
    color: var(--main-white);
}

.github-icon-dark:hover {
    color: rgb(184, 0, 220);
}

/*Email*/

.email-icon {
    margin: 0;
    color: var(--main-black);
    transition: var(--transition);
}

.email-icon:hover {
    color: var(--email-color);
}

.email-icon-dark {
    color: var(--main-white);
}

/*--------- Cover Buttons ---------*/

.main-content-buttons {
    margin: 4rem 0;
}

.main-content-buttons button {
    font-size: 4rem;
    font-weight: bold;
    min-width: 22rem;
    margin: 0 3rem;
    padding: 1rem 3rem;
    color: var(--main-black);
    background-color: #00c0208e;
    border: solid 2px var(--main-black);
    border-radius: 2rem;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

@media (max-width: 1550px) {
    .main-content-buttons button {
        font-size: 3rem;
        min-width: 18rem;
        margin: 0 2rem;
        padding: 1rem 2rem;
    }
}

.main-content-buttons button:hover {
    color: white;
    background-color: #00b81fc7;
    cursor: pointer;
}

.main-content-buttons-dark button {
    color: var(--main-white);
    border: solid 2px var(--main-white);
}

.main-content-buttons-dark button:hover {
    color: var(--main-black);
    background-color: #00cf23b9;
}