/*---------------------------------------- Skills Section Variables ----------------------------------------*/

:root {
    --dark-aqua: #004341;
	--dark-aqua-light: #006764c7;
	--dark-aqua-transparent: #0043412e;
	--border-dark-mode: #009F9B;
}

/*--------------------------------------- Skills Section ---------------------------------------*/

/*----------------- Skills Box -----------------*/

.skills-boxes-container {
	padding-bottom: 3rem;
}

.skills-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin: auto;
	margin-bottom: 10rem;
	background-color: rgba(0, 155, 160, 0.098);
	border: solid 2px var(--dark-aqua);
	border-radius: 8rem;
	padding: 4rem 3rem;
	box-shadow: var(--shadow);
}

@media (max-width: 1600px) {
	.skills-boxes {
		margin-bottom: 7.5rem;
	}
}

.skills-boxes-dark {
	background-color: #00a3a936;
	border: solid 2px var(--border-dark-mode);
}

.skills-box {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: var(--dark-aqua-light);
	border: solid 2px var(--dark-aqua);
	border-radius: 3rem;
	margin: 1rem 0.5rem;
	padding: 1rem 1rem;
	box-shadow: var(--shadow);
}

.skills-box-dark {
	border: solid 2px var(--border-dark-mode);
}

.skills-box-text {
	font-size: 4.5rem;
	font-weight: bold;
	margin: 0;
	padding: 1rem 2rem;
}

@media (max-width: 1600px) {
	.skills-box-text {
		font-size: 3rem;
		padding: 1rem 1rem;
	}
}

@media (max-width: 1280px) {
    .skills-box-text {
        font-size: 2.5rem;
    }
}

@media (max-width: 1024px) {
	.skills-box-text {
		font-size: 2rem;
	}
}

@media (max-width: 834px) {
	.skills-boxes {
		padding: 3ch;
		width: 90%;
	}

	.skills-box-text {
		font-size: 1.5rem;
		padding: 0.5rem;
	}
}

.skills-box-icon {
	font-size: 3.5rem;
	padding-left: 2rem;
}

@media (max-width: 1024px) {
	.skills-box-icon {
		font-size: 2.5rem;
		padding-left: 1rem;
	}
}