.not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 40, 40, 0.547);
    width: 30%;
    border: solid 2px var(--main-black);
    border-radius: 7rem;
    box-shadow: var(--shadow);
}

@media (max-width: 834px) {
    .not-found-container {
        width: 40%;
    }
}

@media (max-width: 375px) {
    .not-found-container {
        width: 80%;
    }
}

.not-found-container-dark {
    border: solid 2px var(--main-white);
}

.not-found-content {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 7rem;
    margin-bottom: 10rem;
}

@media (max-width: 1024px) {
    .not-found-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin: 5rem;
    }
}

.not-found-content > * {
    margin: 0;
}

.not-found-button {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: var(--main-white);
    color: var(--main-black);
    border: solid 2px var(--main-black);
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

@media (max-width: 1024px) {
    .not-found-button {
        font-size: 3rem;
    }
}

.not-found-button-dark {
    border: solid 2px var(--main-white);
}

.not-found-button:hover {
    background-color: var(--main-black);
    color: var(--main-white);
}

.back-icon {
    padding-right: 1.5rem;
}