.not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 40, 40, 0.547);
    color: var(--main-text-color);
    width: 30%;
    border: solid 2px var(--main-text-color);
    border-radius: 7rem;
    box-shadow: var(--shadow);
}

.not-found-content {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 7rem;
    margin-bottom: 10rem;
}

.not-found-content > * {
    margin: 0;
}

.not-found-button {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: solid 2px var(--main-text-color);
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.not-found-button:hover {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    border: solid 2px var(--main-bg-color);
    box-shadow: var(--shadow-hover);
}

.back-icon {
    padding-right: 1.5rem;
}