/*----------------------------------- Footer -----------------------------------*/

.footer {
    background-color: var(--main-black);
    color: var(--main-white);
    font-size: 3rem;
    font-weight: bold;
}

.footer-dark {
    background-color: #5f5f5f90;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer-text {
    display: flex;
    align-items: center;
}

.footer-icon {
    font-size: 5rem;
    padding-right: 2rem;
}