/*---------------------------------------- Global Styles ----------------------------------------*/

.section {
	margin: 0 5rem 0 4rem;
	border-top: solid 2px var(--main-black);
}

.section-dark {
	border-top: solid 2px var(--main-white);
}

.section-title {
	margin: 3rem 0;
	font-size: 7rem;
	text-align: left;
}

@media (max-width: 1600px) {
	.section-title {
		font-size: 6rem;
	}
}

@media (max-width: 1024px) {
	.section {
		margin: 0 3rem;
	}
	.section-title {
		font-size: 5rem;
	}
}

@media (max-width: 402px) {
	.section {
		margin: 0 2rem;
	}
	.section-title {
		font-size: 4rem;
		margin: 1.5rem 0;
	}
}

.section-subtitle {
	font-size: 6rem;
	text-align: left;
	margin: 5rem 10rem;
}

@media (max-width: 1600px) {
	.section-subtitle {
		font-size: 5rem;
		margin: 3rem 7rem;
	}
}

@media (max-width: 1024px) {
	.section-subtitle {
		font-size: 4rem;
		margin: 2rem 5rem;
	}
}

@media (max-width: 402px) {
	.section-subtitle {
		font-size: 3rem;
		margin: 0.5rem 2rem;
	}
}

/*---------------------------------------- App Styles ----------------------------------------*/