body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #EBEBEB;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Jaldi', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}