/* ----------------------------------- About ----------------------------------- */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 204, 0, 0.39);
    border: solid 2px #B98800;
    border-radius: 7rem;
    padding: 5rem;
    margin: auto;
    margin-bottom: 6.5rem;
    max-width: 65%;
    box-shadow: var(--shadow)
}

.about-text {
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
    margin: 3rem 6rem;
}

/*------------------ Contact Container ------------------*/

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 4rem auto;
    margin-bottom: 6rem;
    font-size: 5rem;
    font-weight: bold;
}

.contact-content {
    display: flex;
    align-items: center;
}

.contact-content A {
    color: var(--main-text-color);
    text-decoration: none;
    margin-left: 2rem;
}

.contact-border {
    border: solid 2px var(--main-text-color);
    border-radius: 4rem;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
}

/* LinkdeIn */

.about-linkedin-icon {
    color: var(--linkedin-color);
}

.linkedin {
    transition: var(--transition);
}

.linkedin:hover {
    color: var(--linkedin-color);
}

/* GitHub */

.github {
    color: var(--main-text-color);
    transition: var(--transition);
}

.github:hover {
    cursor: pointer;
    color: var(--github-color);
}

.about-github-icon {
    color: var(--github-color);
}

/* Email */

.email {
    transition: var(--transition);
}

.email:hover {
    color: var(--email-color);
}

.about-email-icon {
    color: var(--email-color);
}